---
import Container from '@/components/Container.astro';
---

<Container as='footer' class='pt-24'>
  <p class="text-center text-muted-foreground text-sm">
    &copy; 2025. Build by 
    <!-- <a href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</a>  -->
    bintangpassa.com
  </p>
</Container>
